<h1>Ajouter un auteur</h1>

<form action="/add_auth" method="post">
  <label>Prénom</label>
  <input type="text" name="firstName" />
  <label>Nom</label>
  <input type="text" name="lastName" />

  <input type="submit" name="Enregistrer" />
</form>
