<h1>Editez une catégorie</h1>

<form action="/edit_cat/<%=category.Id%>" method="post">
  <label>Prénom</label>
  <input type="text" name="name" value="<%=category.Name%>" />

  <input type="submit" name="Enregistrer" />
</form>
