<div class="login">
  <h2>Register</h2>
  <form action="/register" method="post">
    <label for="firstName"></label>
    <input id="firstName" type="text" placeholder="Prénom" />
    <label for="lastName"></label>
    <input id="lastName" type="text" placeholder="Nom" />
    <label for="email"></label>
    <input id="email" type="email" placeholder="email" />
    <label for="password"></label>
    <input id="password" type="password" placeholder="Mot de Passe" />
    <input type="submit" name="Register" />
  </form>
</div>
